services:
  - type: web
    name: audio-extractor-service  # يمكنك تغيير الاسم إذا أردت
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn app:app"
    buildpacks:
      - heroku/python
      - https://github.com/jonathanong/heroku-buildpack-ffmpeg-latest.git
